@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

html {
    background-color: #8dd2b1;
}

body {
    width: 100%;
    background-color: #ffffff;
    border-radius: 50px 50px 10px 10px;
    border: solid 5px #afdfc8;
}

.container {
    width: clamp(85%, 100%, 90%);
    margin: auto;
}

.brand img {
    width: 150px;
}

.primary-button {
    color: #ffffff;
    background-color: #00a98f;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 1rem;
}
.secondary-button {
    color: #ffffff;
    background-color: #e56338;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 1rem;
}

header {
    height: 100vh;
    width: 100%;
    background: url(./assets/medias/fruit-et-legume.jpg);
    border-radius: 50px 50px 0 0;
    background-size: cover;
}

/* navbar */

nav {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #d1d1d1;
    position: fixed;
    top: 0;
    border-radius: 50px 50px 0 0;
    z-index: 999;
}

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .brand {
    width: 200px;
}

.navigation .link .link-list {
    display: flex;
    width: 600px;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.link span {
    display: none;
}

a:hover {
    font-size: 1.3rem;
    color: #e56338;
    text-shadow: 0 2px 3px #000;
}

.header{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px 50px 10px 10px;
}

.header .header-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .header-content .title-and-subtitle {
    width: 500px;
}

h1 {
    font-size: clamp(2rem, 40vw, 3.1rem);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 400;
}
h1 span {
    color: #e56338;
}

.header .header-content .title-and-subtitle p {
    width: 90%;
    text-align: justify;
    margin-bottom: 15px;
}

.header .header-content .hero img {
    width: 40vw;
    border-radius: 50px 50px 10px 10px;
}

header .cerise {
    position: absolute;
    top: 10%;
    left: 25px;
}

header .ananas {
    position: absolute;
    top: 70vh;
    left: 45vw;
}

