@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

html {
    background-color: #8dd2b1;
}

body {
    width: 100%;
    background-color: #ffffff;
    border-radius: 50px 50px 10px 10px;
    border: solid 5px #afdfc8;
}

.container {
    width: clamp(85%, 100%, 90%);
    margin: auto;
}

.brand img {
    width: 150px;
}

h2 {
    align-content: center;
}

h2 span{
    color: #e56338;
}

.primary-button {
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #0BAA19;
    border: solid 2px #fec195;
    font-family: inherit;
}

.default-btn,.hover-btn {
 background-color: #0BAA19;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 align-items: center;
 gap: 15px;
 padding: 6px 20px;
 border-radius: 50px;
 font-size: 17px;
 font-weight: 500;
 text-transform: uppercase;
 transition: all .3s ease;
}

.hover-btn {
 position: absolute;
 inset: 0;
 background-color: #C91223;
 transform: translate(0%,100%);
}

.default-btn span {
 color: hsl(0, 0%, 100%);
}

.hover-btn span {
 color: hsl(50deg 100% 50%);
}

.primary-button:hover .default-btn {
 transform: translate(0%,-100%);
}

.primary-button:hover .hover-btn {
 transform: translate(0%,0%);
}



.secondary-button {
    position: relative;
    padding: 12px 35px;
    background: #C91223;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #C91223);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #C91223);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #C91223);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #C91223);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #C91223);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #C91223);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  .secondary-button:hover {
    background: #0BAA19;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  .secondary-button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #C91223);
    z-index: 2;
  }
  
  .secondary-button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #C91223);
    z-index: 2;
  }
  
  .secondary-button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #C91223);
    z-index: 2;
  }
  
  .secondary-button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #C91223);
    z-index: 2;
  }
  
  .secondary-button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #C91223);
    z-index: 2;
  }
  
  .secondary-button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #C91223);
    z-index: 2;
  }
  
  .fil0 {
    fill: #C91223;
  }
  

header {
    height: 100vh;
    width: 100%;
    background: url(./assets/medias/fruit-et-legume.jpg);
    border-radius: 50px 50px 0 0;
    background-size: cover;
}

/* navbar */

nav {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #d1d1d1;
    position: absolute;
    top: 0;
    border-radius: 50px 50px 0 0;
    z-index: 999;
}

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .brand {
    width: 200px;
}

.navigation .link .link-list {
    display: flex;
    width: 600px;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.link .link-list-mobile {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(229, 99, 56, 0.6);
}

.link .link-list-mobile li {
    color: white;
    margin-bottom: 30px;
}
.link .link-list-mobile a {
    color: white;
}

.link .link-list-mobile .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 2rem;
}

.link .burger {
    display: none;
    width: 40px;
    text-align: center;
}

a:hover {
    font-size: 1.3rem;
    color: #e56338;
    text-shadow: 0 2px 3px #000;
}

@media screen and (max-width: 767px) {
    .navigation .link .link-list {
        display: none;
    }
    .link .burger {
        display: flex;
    }
}

@media screen and (max-width: 426px) {
    .link .link-list-mobile {
        width: 100%;
        left: 0;
    }
}

.header{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px 50px 10px 10px;
}

.header .header-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .header-content .title-and-subtitle {
    width: 500px;
    position: relative;
}

h1 {
    font-size: clamp(2rem, 4vw, 3.1rem);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #0BAA19;
}
h1 span {
    color: #C91223;
}

.header .header-content .title-and-subtitle p {
    width: 90%;
    text-align: justify;
    margin-bottom: 15px;
}

.header .header-content .hero img {
    width: 40vw;
    border-radius: 50px 50px 10px 10px;
    filter: drop-shadow(20px 10px 10px rgba(0, 0, 0, 0.204));
}

header .cerise {
    position: absolute;
    top: -40%;
    left: -5%;
    filter: drop-shadow(10px 2px 10px #000);
}

header .ananas {
    position: absolute;
    bottom: -30%;
    right: -5%;
    filter: drop-shadow(10px 2px 10px #000);
}

@media screen and (max-width: 767px) {
    header {
        background-position: right;
    }
    .hero {
        display: none;
    }
}

@media screen and (max-width: 424px) {
    header .cerise {
        top: -50%;
    }
}

/* *************** Specialité **************** */
main {
    width: 100%;
    height: fit-content;
    position: relative;
}

main .header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-content: center;
}

main .contents {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

main .contents .item {
    max-width: 280px;
    margin-bottom: 30px;
}

main .contents .item .image {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f9ed;
    border-radius: 20px;
    margin-bottom: 20px;
    /* filter: grayscale(0); */
}

main .contents:hover .item:not(:hover){
    filter: grayscale(1) blur(2px);
}

main .contents .item .image:hover {
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.204))
}

main .contents .item .image img {
    width: 300px;
    filter: drop-shadow(20px 10px 10px rgba(0, 0, 0, 0.204));
}

main .contents .item .description h4 {
    font-size: 1.5rem;
    color: #C91223;
    margin: 10px 0;
}

main .banane {
    position: absolute;
    bottom: -5%;
    right: 5%;
    filter: drop-shadow(10px 2px 10px #000);
}

/* ************ Produits ************ */

#produits {
    width: 100%;
    height: fit-content;
    position: relative;
    margin-bottom: 30px;
}

#produits .header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#produits .contents {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#produits .contents .item {
    max-width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#produits .contents .item img {
    width: 150px;
    height: 150px;
    border: 10px solid #e1dfdf;
    border-radius: 50%;
}

/* ********** preparation *********** */
#preparation {
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #fafcf8;
}

#preparation .header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-content: center;
    background-color: #fafcf8;
}

#preparation .contents {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#preparation .contents .prepa-actif {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#preparation .contents .prepa-actif .image {
    width: 90%;
    margin: 30px auto;
}
#preparation .contents .prepa-actif .image img {
    width: 100%;
    height: 350px;
    border-radius: 20px;
}

#preparation .contents .descriptions {
    width: 90%;
    height: 130px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#preparation .contents .descriptions .date {
    color: #908f8d;
    font-size: 0.9rem;
}
#preparation .contents .descriptions .des {
    text-align: justify;
}

#preparation .contents .prepas .item .image img {
    width: 200px;
    border-radius: 20px;
    margin-right: 20px;
}

#preparation .contents .prepas {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
}

#preparation .contents .prepas .item {
    display: flex;
}

@media screen and (max-width: 1020px) {
    #preparation .contents{
        flex-direction: column;
    }
    #preparation .contents .prepa-actif {
        width: 100%;
    }
    #preparation .contents .prepas {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    #preparation .contents .prepas .item {
        width: 200px;
        flex-direction: column;
    }
    #preparation .contents .prepas .item .image img {
        height: 150px;
        width: 100%;
    }

    #preparation .contents .prepas .item .descriptions {
        width: 100%;
        height: 130px;
    }
}

@media screen and (max-width: 425px) {
    .secondary-button{
        display: none;
    }

    main .header, #preparation .header {
        justify-content: center;
    }
}